langgraph==0.2.34
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.10
langchain-core==0.3.17
langchain-community==0.3.7
ollama==0.3.3
pydantic==2.9.2
typing-extensions==4.12.2
psutil==6.0.0
rich==13.9.2
prompt-toolkit==3.0.48
asyncio-mqtt==0.16.2